.centered {
    text-align: center;


}

.headerstyle {
    background-color: rgb(228, 222, 222);
    text-align: center;
    border-spacing: 300px;
    margin-left: 350px;
    margin-right: 350px;
    width: auto;
}

.hrstyle {
    border-bottom-width: 3px;
    border-color: gold;
}


.mainstyle {
    margin-left: 350px;
    margin-right: 350px;

}

.titlestyle {
    color: gold;


}

.substyle {
    text-align: center;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}