.centered {
    text-align: center;

}

.allign {
    text-align: center;
    display: block;
}




.div {
    background-color: rgb(228, 222, 222);
    margin-left: 350px;
    margin-right: 350px;



}

.hrstyle {
    color: black;
    width: auto;
}

.main {
    margin-left: 350px;
    margin-right: 350px
}

.titlecolor {
    color: gold;
}

